.img-keep-aspect-ratio {
	display: block;
	object-fit: cover;
	max-height:950px;
	width: auto;
	height: auto;
}
.logo{
	object-fit: cover;
	height: 50px;
}

.activism_picture{
	object-fit: cover;
	height: 10px;
	width: 100%;
}
